<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="C:\Users\crist\PycharmProjects\easylife\easylife\easyfood\resources\css.">
    <link rel="stylesheet" type="text/css"
          href="C:\Users\crist\PycharmProjects\easylife\easylife\easyfood\resources\css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyLife</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <style>
        html,
        body,
        header,
        .view {
          height: 100%;
        }

        @media (max-width: 740px) {
          html,
          body,
          header,
          .view {
            height: 100px;
          }
        }

        .btn .fa {
          margin-left: 3px;
        }

        .navbar:not(.top-nav-collapse) {
          background: #00994d !important;
        }

        .btn-white {
          color: black !important;
        }

        .container {
            position: absolute;
            left :20%;
            top: 50%;
            height: 200px;
            margin-top: -100px /* half of you height */
            width: 400px;
            margin-left: -200px /* half of you width */

        }

        .rgba-gradient {
          background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
          background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
          background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
          background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
          background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
        }


    </style>
</head>
<body>
<div class="bg">
</div>
<header>                                                                            <!-- HEADER-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EasyLife</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">How it works</a></li>
                {% if user.is_authenticated %}
                <li>User:{{user.get_username}}</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'user_register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <!-- Full Page Intro -->
    <div class="view"
         style="background-image: url('https://i0.wp.com/static.adihadean.ro/uploads/canapele-cu-ochiuri-romanesti2.jpg?ssl=1');
                background-repeat:no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <h1 class="font-weight-bold mt-sm-5">Discover the flavors of </h1>
                    <h1 class="font-weight-bold mt-sm-5">EasyLife </h1>
                    <hr class="hr-light">
                    {% if user.is_authenticated %}
                    <button type="button" class="btn-outline-dark btn-lg"><a href="{% url 'product_list' %}">Learn more</a>
                    </button>
                    {% else %}
                    <li><a href="{% url 'login' %}"></a></li>
                    {% endif %}
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</html>