{% extends 'product.html' %}
{% block content %}
    <form action="" method="post"> {% csrf_token %}
        <p>Are you sure that you want to delete item {{ daymenu.day_menu }}?</p>
        <input type="submit" value="Delete"/>
        <input type="submit" name="cancel"  value="NO"/>
    </form>
{% endblock %}