{% extends "product.html" %}
{% block content %}
{% load crispy_forms_tags %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'day_menu_update' day_menu.pk %}"><button>Update</button></a>
</form>
{% endblock %}