{% extends "product.html" %}
{% block content %}
<p>Name: {{ daymenu.day_menu }}</p>
<p>Price: {{ daymenu.price }}</p>
<p>Category: {{ daymenu.category }}</p>
<img style="max-width:200px"  src="{{ daymenu.image }}" alt="">
<a href="{% url 'day_menu_update' day_menu.pk %}"><button>Update</button></a>
<a href="{% url 'day_menu_delete' day_menu.pk %}"><button>Delete</button></a>
{% endblock %}