{% extends "product.html" %}
{% load static %}
{% block content %}

<h3 class="display-5 mb-2 text-center">Healthy DAYS</h3>
<p class="mb-5 text-center">
                    <i class="text-info font-weight-bold">3</i> items in your cart</p>
{% for daymenu in day_menu %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <table id="shoppingCart" class="table table-condensed table-responsive" style="max-width:900px">
                    <thead>
                    <tr>
                        <th style="width:60%">Product</th>
                        <th style="width:12%">Price</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:16%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    {% if daymenu.image.url is not null %}
                                    <img src="{{daymenu.image.url}}"  alt="" class="img-thumbnail" >
                                     {% endif %}
                                </div>
                                <div class="col-md-9 text-left mt-sm-2">
                                    <h4>{{daymenu.category}}</h4>
                                    <p class="font-weight-light">{{daymenu.day_menu}}</p>
                                    <a href="{% url 'day_menu_detail' daymenu.pk %}">Detail</a>
                                    <a href="{% url 'day_menu_update' daymenu.pk %}">Update</a>
                                    <a href="{% url 'day_menu_delete' daymenu.pk %}">Delete</a>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{daymenu.price}}</td>
                        <td data-th="Quantity">
                            <input type="number" class="form-control form-control-lg text-center" value="1">
                        </td>
                        <td class="actions" data-th="">
                            <div class="text-right">
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                    <i class="fas fa-sync"></i>
                                </button>
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>

                        </td>

                    </tr>
                    <tr>
                </table>
{% endfor %}
                <div class="float-right text-right">
                    <h4>Subtotal:</h4>
                    <h1>$99.00</h1>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="catalog.html">
                    <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

