{% extends "product.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Welcome to your personal nutritionist</h3>
                <span class="label label-info">
                    {{ comments.count }}</span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 card mb-4  mt-3 left  top">
                        <img src="https://desprenutritieblog.files.wordpress.com/2014/04/poza-sanatate.jpg?w=650"  height="250px">
                    </div>
                    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

                    <div class="col-md-8 card mb-4  mt-3 ">
                        <div class="card-body">
                            <!-- comments -->
                            <h2> Conversation </h2>

                            {% for comment in comments %}
                            <div class="comments" style="padding: 10px;">
                                <p class="font-weight-bold">
                                    {{ comment.name }}
                                    <span class=" text-muted font-weight-normal">
                                      {{ comment.created_on }}
                                    </span>
                                </p>
                                {{ comment.body | linebreaks }}
                            </div>
                            {% empty %}
                                <p>No comments here yet :(</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8 card mb-4  mt-3 ">
                        <div class="card-body">
                            {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                Your comment is awaiting moderation
                            </div>
                            {% else %}
                            <h3>Leave a comment</h3>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-4 comment-form">
    <!-- comment-->
</div>

<hr>
<div class="container-fluid mt-4 media-list">

</div>
<div class="container-fluid mt-4 comment-form">

</div>

{% endblock %}