<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="C:\Users\crist\PycharmProjects\easylife\easylife\easyfood\resources\css.">
    <link rel="stylesheet" type="text/css"
          href="C:\Users\crist\PycharmProjects\easylife\easylife\easyfood\resources\css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyLife</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>
       html,
        body,
        header,
        .view {
          height: 100%;
        }

        @media (max-width: 740px) {
          html,
          body,
          header,
          .view {
            height: 100px;
          }
        }

        .btn .fa {
          margin-left: 3px;
        }

        .btn-white {
          color: black !important;

        }
            .navbar {
                width: 100%;
                height:80px;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
         }
            .container-fluid {
              width: 100%;
                height:70px;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
        }
        }
        .comment-form {
            width: 800px;
            max-width: 100%;
            margin-left: 0;
        }
        .comment {
            border: 1px solid lightgrey;
            margin-bottom: 10px;
            padding: 5px;
        }
        .media-list {
            width: 800px;
            max-width: 100%;
            margin-left: 0;
        }

        .profile-image-thumbnail {
        float: left;
        width: 64px;
        max-width: 100%;
        margin-right: 5px;
        margin-bottom: 5px;



    </style>
</head>
<body>


<header>
        <!-- HEADER-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="height:80px">EasyLife</a>
                </div>
                <ul class="nav navbar-nav" style="height:90px">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'product_list' %}">Programs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="height:80px">
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
                    <li><a href="{% url 'product_list' %}"></a></li>
                    <li><a href="{% url 'day_menu_list' %}"></a></li>
                </ul>
            </div>
        </nav>
        <!-- Full Page Intro -->

        <div class="col-sm-12">

            <hr>
            {% block content %}{% endblock %}
        </div>

</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>
</html>