{% extends "product.html" %}
{% load static %}
{% block content %}

<a href="{% url 'nutritionist' %}" class="btn btn-success btn-block">For Nutritionist click
    here!</a>
<a href="{% url 'day_menu_list' %}" class="btn btn-success btn-block">For FOOD ORDER click
    here!</a>

{% for product in products %}

<!-- Card -->

<div class="card text-center">

    <!-- Card content -->
    <div class="card-body d-flex flex-row">

        <!-- Avatar -->
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px"
             width="50px" alt="avatar">

        <!-- Content -->
        <div>

            <!-- Title -->
            <h4 class="card-title font-weight-bold mb-2">{{product.name}}</h4>
            <!-- Subtitle -->
            <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>

        </div>

    </div>
    <!-- Card image -->
    <div class="view overlay">
        {% if product.image.url is not null %}
        <img class="img-rounded" src="{{product.image.url}}" alt="Card image cap" style="width:20%">
        {% endif %}
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
        <!-- Card content -->
        <div class="card-body">
            <div class="collapse-content">
                <p class="card-text">{{product.category}}</p>
                <p class="card-text">{{product.description}}</p>
                <a href="{% url 'product_detail' product.pk %}">Detail</a>
                <a href="{% url 'product_update' product.pk %}">Update</a>
                <a href="{% url 'product_delete' product.pk %}">Delete</a>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'nutritionist' %}" class="btn btn-success btn-block">For Nutritionist click
    here!</a>
<a href="{% url 'day_menu_list' %}" class="btn btn-success btn-block">For FOOD ORDER click
    here!</a>



{% endfor %}
{% endblock %}