{% extends "product.html" %}
{% block content %}
<p>Name: {{ product.name }}</p>
<p>Price: {{ product.price }}</p>
<p>Category: {{ product.product_category }}</p>
<p>PK: {{ product.pk }}</p>
<img style="max-width:200px"  src="{{ product.image }}" alt="">
<a href="{% url 'product_update' product.pk %}"><button>Update</button></a>
<a href="{% url 'product_delete' product.pk %}"><button>Delete</button></a>

{% endblock %}