{% extends "product.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <a href="{% url 'product_update' product.pk %}"><button>Update</button></a>
</form>
{% endblock %}