{% extends 'product.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="">
    <fieldset>

        <div id="legend">
            <legend class="">Register</legend>
        </div>

        <div class="control-group">

            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default"></div>
                <div class="panel-body">
                    {% if error_message %}
                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}

                    <div class="form-group clearfix">
                        <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span
                                class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span
                                class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span
                                class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm
                            password:</label>
                        <div class="col-md-6">
                            {{ form.password_repeat }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right">First
                            Name:</label>
                        <div class="col-md-6">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right">Last
                            Name:</label>
                        <div class="col-md-6">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-right">Phone
                            Number:</label>
                        <div class="col-md-6">
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" value="Register" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
